<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% if page.description != nil %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@boring_cactus" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{% if page.description != nil %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{% if page.description != nil %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
    {% if page.url == "/" %}
    <meta property="og:type" content="website" />
    <title>{{ page.title }}</title>
    {% else %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <title>{{ page.title }} | boringcactus</title>
    {% endif %}
    <link rel="stylesheet" href="/site.css">
    {% feed_meta %}
</head>
<body>
<header>
    {% if page.url != "/" %}
    <p>(brought to you by <a href="/">boringcactus</a>)</p>
    {% endif %}
</header>
<main>
    <h1>{{ page.title }}{% if page.date %} <small>({{ page.date | date_to_string }})</small>{% endif %}</h1>
    {{ content }}
</main>
<script src="/fuck-hn.js"></script>
</body>
</html>
