<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.describe() }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@boring_cactus" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.describe() }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}.html" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.describe() }}" />
    {% if page.url == "index" %}
    <meta property="og:type" content="website" />
    <title>{{ page.title }}</title>
    {% else %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{% if page.date %}{{ page.date }}{% endif %}" />
    <title>{{ page.title }} | boringcactus</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/site.css">
    <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="boringcactus" />
    <script async defer data-domain="boringcactus.com" src="https://stats.boringcactus.com/js/index.js"></script>
</head>
<body>
<header>
    {% if page.url != "index" %}
    <p>(brought to you by <a href="/">boringcactus</a>)</p>
    {% endif %}
</header>
<main>
    <h1>{{ page.title }}{% if page.date %} <small>({{ page.date.strftime('%d %b %Y') }})</small>{% endif %}</h1>
    {{ content }}
</main>
<script src="/assets/fuck-hn.js"></script>
</body>
</html>
